.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(163, 252, 203);
}

/* Style the outer box */
.contact-box {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #e63e4c;
  border-radius: 8px;
  text-align: center;
}
.contact-info {
  margin-top: 15px;
  padding: 15px;
  background-color: cornflowerblue;
  border-radius: 5px;
  text-align: left;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  font-size: 0.9em;
}
.header {
  background-color: rgb(34, 225, 250);
  padding: 10px;
  text-align: center;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.692);
  padding: 7px 0;
  border-radius: 10px;
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 21px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  color: rgb(250, 254, 255);
  text-decoration: none;
  padding: 14px 20px;
  display: block;
  transition: background-color 0.3s;
  border-radius: 5px;
}

/* Hover effect with different colors for each link */
.navbar ul li a[id="h"]:hover {
  background-color: #4caf50; /* Green */
}

.navbar ul li a[id="p"]:hover {
  background-color: #2196f3; /* Blue */
}

.navbar ul li a[id="c"]:hover {
  background-color: #ff5722; /* Orange */
}
